<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="gestor-clientes">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <div class="container">
      <div class="row">
        <h1>Gestor de Clientes</h1>
        <img class="col-lg-8 col-xs-12" src="https://image.flaticon.com/icons/svg/1256/1256649.svg" alt="" width="200px"/>
        <button on-click="obtenerClientes" class="btn btn-success col-lg-4 col-xs-12" type="button" name="button">Gestor clientes</button>

      </div>
      <div class="row">
        <table>
          <tbody>
            <template is="dom-repeat" items={{clientes}}>
              <tr>
                <td>[[item.CustomerID]]</td>
                <td>[[item.ContactName]]</td>
                <td>[[item.CompanyName]]</td>
              </tr>
            </template>
          </tbody>
        </table>
      </div>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestorClientes extends Polymer.Element {
      static get is() { return 'gestor-clientes'; }
      static get properties() {
        return {
          clientes: {
            type: Array,
            notify: true
          }
        };
      }

      obtenerClientes(){
        var request = new XMLHttpRequest();
        var url = "https://services.odata.org/V4/Northwind/Northwind.svc/Customers";
        request.open("GET", url, false);
        request.setRequestHeader("Accept", "application/json");
        request.send();
        var clientesObtenidos = request.responseText;
        var JSONClientes = JSON.parse(clientesObtenidos);
        this.clientes = JSONClientes.value;
        console.log(this.clientes);
      }

      anadirClientes(){
        var request = new XMLHttpRequest();
        var url = "https://services.odata.org/V4/Northwind/Northwind.svc/Customers";
        request.open("POST", url, false);
        request.setRequestHeader("Accept", "application/json");
        request.setRequestHeader("Content-Type", "application/json");

        var nuevoCliente = {"CustomerID":"12345","ContactName":"Pepe", "CompanyName":"ABCD"};
        var body = JSON.stringify(nuevoCliente);
        request.send(body);
        this.respuesta = request.responseText;
        console.log(this.respuesta);
      }

    }

    window.customElements.define(GestorClientes.is, GestorClientes);
  </script>
</dom-module>
